.insuranceAddBasic .insuranceAddBasicForm div.rightaddbug32{
	float: left;
	line-height: 32px;
	font-size:14px;
	color:#494949;
}
/*.insurance-pop-month .insurance-pop-month-select li div,.insurance-pop-year .insurance-pop-year-select li div{
	display: inline-block;
	position: absolute;
	left: 130px;
	top: 0;
	font-size:16px;
	color:#494949;
}*/