<div ng-show="!is404">
  <div ng-show="!succApplyLink"> 
      <div ng-include="'views/item/titleNav.html'"></div>
      <div class="insurance-detail-box orderIncreaseDetail">
        <div class="row insurance-detail-title">
            <div class="float-xs-left">
              <span class="name" ng-bind="result.name"></span>
              <span class="info">身份证：{{result.idCard}}</span>  
              <span class="info">缴纳城市：{{result.cityMap.value}}</span>
              <span class="info">申报名称：{{result.productName}}<span ng-if="type==3">（{{result.productType}}）</span></span>        
            </div>
            <div class="float-xs-right" ng-if="!payFeedback&&btnShow">
                <!-- <button class="btn-info" ng-click="payFeedbackClick()">实缴反馈</button> -->
            </div>
        </div>
          <div class="row insurance-detail-cont">
              <table class="table table-border">
                  <thead class="thead-default">
                      <tr class="table-head">
                        <th></th>
                        <th>企业</th>
                        <th>个人</th>
                        <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td class="table-td">
                            <table class="table">
                              <thead class="thead-default">
                                  <tr class="table1-head">
                                    <th>险种</th>
                                    <th>最后缴纳月</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="item in result.insuranceDetialDtoList">
                                    <td ng-bind="item.insuranceTypeMap.value"></td>
                                    <td ng-bind="item.payMonth"></td>
                                  </tr>
                              </tbody>
                          </table>
                        </td>
                        <td class="table-td">
                            <table class="table">
                              <thead class="thead-default">
                                  <tr class="table2-head">
                                    <th>基数
                                    <th>比例(%)</th>
                                    <th>固定金额</th>
                                    <th>缴纳额</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="item in result.insuranceDetialDtoList">
                                    <td ng-bind="'{{item.companyBaseNumber}}' || '-'"></td>
                                    <td ng-if="item.companyRatio" ng-bind="item.companyRatio+'%'"></td>
                                    <td ng-if="!item.companyRatio" ng-bind="item.companyRatio==0?0:'-'"></td>
                                    <td ng-bind="'{{item.companyFixedAmount}}' || '-'"></td>
                                    <td ng-bind="'{{item.companyPayAmount}}' || '-'"></td>
                                  </tr>
                              </tbody>
                          </table>
                        </td>
                        <td class="table-td">
                            <table class="table">
                              <thead class="thead-default">
                                  <tr class="table3-head">
                                    <th>基数
                                    <th>比例(%)</th>
                                    <th>固定金额</th>
                                    <th>缴纳额</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="item in result.insuranceDetialDtoList">
                                    <td ng-bind="'{{item.personBaseNumber}}'|| '-'"></td>
                                    <td ng-if="item.personRatio" ng-bind="item.personRatio+'%'"></td>
                                    <td ng-if="!item.personRatio" ng-bind="item.personRatio==0?0:'-'"></td>
                                    <td ng-bind="'{{item.personFixedAmount}}'|| '-'"></td>
                                    <td ng-bind="'{{item.personPayAmount}}'|| '-'"></td>
                                  </tr>
                              </tbody>
                          </table>
                        </td>
                        <td class="table-td">
                            <table class="table" style="border:none;">
                              <thead class="thead-default">
                                  <tr class="table4-head">
                                    <th>缴纳总额</th>
                                    <th>申报结果</th>
                                    <th ng-if="payFeedbackBtn"></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="item in result.insuranceDetialDtoList">
                                    <td ng-bind="'{{item.insurancePayAmount}}'||'-'"></td>
                                    <td ng-if="(item.status==3||item.status==4)&&payFeedbackIndex!=$index">{{item.detailStatusMap.value}}<span ng-if="item.detailFailReasonMap.value">（{{item.detailFailReasonMap.value}}）</span></td>
                                    <td ng-if="item.status!=3&&item.status!=4&&payFeedbackIndex!=$index">无</td>
                                    <td style="text-align: left;" ng-if="payFeedbackIndex==$index">
                                      <select ng-model="item.status2" ng-options="x.key as x.value for x in result.insuranceApplyResult" ng-change="selectResult(item.status2,$index)"></select>
                                      <i class="icon-03"></i>
                                      <select ng-if="item.status2==4&&item.paymentMethod==1" ng-model="item.failReason2" ng-options="x.failReason as x.failreasonName for x in result.reasonList"></select>
                                      <select ng-if="item.status2==4&&item.paymentMethod==2" ng-model="item.failReason2" ng-options="x.failReason as x.failreasonName for x in result.reasonListBarringAnnual"></select>
                                      <i ng-if="item.status2==4" class="icon-03"></i>
                                    </td>
                                    <td ng-if="payFeedbackBtn">
                                      <div ng-if="item.status!=3&&item.status!=4&&payFeedbackIndex==-1" ng-click="payFeedbackClick($index)"><span class="feedback-box">反馈</span></div>
                                      <div ng-if="item.status==3||item.status==4"></div>
                                      <div ng-if="payFeedbackIndex==$index"><span class="feedback-box" ng-click="apply(item.insuranceId,item.status2,item.failReason2)">提交</span><br/><span class="feedback-box" ng-click="cancelFeedback()">取消</span></div>
                                    </td>
                                    
                                  </tr>
                              </tbody>
                          </table>
                        </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="order-bottom">
            <span class="float-xs-left">订单号：{{result.orderNumber}}</span>
            <span class="float-xs-right">总计<label ng-bind="result.payAmount"></label></span>
          </div>
      </div>
      <div class="pop addsucc-pop" style="display: none">
        <div style="text-align: center;">是否确认提交？</div>
        <div class="row">
          <button class="btn more-btn btn-info" ng-click="succApply()">确认</button>
          <button  class="btn more-btn btn-warning" ng-click="closePop()">取消</button>
        </div>
      </div>
    </div>
    <!-- 添加成功 显示 -->
      <div class="add-success-link" ng-if="succApplyLink">
        <img src="images/reset_success.png">
        <div>你修改的实缴反馈已提交成功，{{result.name}}申报信息将按此生效</div>
        <div class="add-button point"><span class="btn btn-info" ng-click="goBack()">返回</span></div>
      </div>
  </div>
  
<!-- 404页面 -->
<div class="rm-404" ng-if="is404"><img src="images/404.png"></div>

